.loginContainer {
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

.inputContent {
  padding: 0 20px;
  margin: 10px 0;
  width: 550px;
  height: 80px;
  border: 2px solid #d0d0d0;
  border-radius: 10px;
}

.inputStyle {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 28px;
}

.errorContent {
  color: red;
  word-wrap: break-word;
}

.submitBtn {
  margin-top: 20px;
  width: 590px;
  height: 80px;
  border: none;
  font-size: 28px;
  border-radius: 10px;
  cursor: pointer;
}

.footTips {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;  
  .typeSwitch {
    padding: 5px;
    margin-left: 30px;
    width: 60px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
  }
}


